extends main

block content
  .container  
    .h3Border(style='margin-bottom: 8px')
      h3 Transaction Details
  .container
    p.overview Overview
      .block-heading
        h4(style="font-weight:400;border-top:2px solid #ff7732") Transaction Information
      .table-responsive
        if tx.hash
          table.table.block-info
            tr
              td TxHash: 
              td.txHash
                | #{tx.hash}
            tr
              td Block Height: 
              td
                a(href="/block/" + tx.blockNumber) #{tx.blockNumber}
            tr
              td TimeStamp:
              if tx.timestamp 
                td #{moment.unix(tx.timestamp).fromNow()} (#{moment.unix(tx.timestamp).format()})
              else 
                td Pending Transaction

            tr
              td From:
              td
                a(href="/account/" + tx.from) #{tx.from}
            if txTokens || parsedTx
              tr
                td To:
                td Contract 
                  a(href="/account/" + tx.to) #{tx.to} 
                  | (#{check.checkAddress(tx.to)}) 
            //- only for tokens transfers
            if txTokens 
              tr
                td Token Transfered:
                td 
                  i.fa.fa-caret-right(style='margin-right:5px') 
                  | From 
                  a(href ="/account/" + txTokens.from) #{(txTokens.from).substr(0,25)}... 
                  | To 
                  a(href = "/account/" + txTokens.to) #{(txTokens.to).substr(0,25)}... 
                  | for #{txTokens.value} 
                  if tokenData 
                    img(src='/img/tokens/' + tokenData.name.toLowerCase() +'.png' width='15px')
                    span(style='margin-left: 5px')
                      a(href ='/token/'+ tx.to) #{tokenData.ticker}
            if parsedTx 
              tr 
                td Transaction Actions:
                td 
                  if parsedTx.error 
                    | #{parsedTx.reason}
                  else 
                    i.fa.fa-caret-right(style='margin-right:5px')
                    //- EggMaker
                    if parsedTx.method == 'convert'
                      span.decodedName Convert 
                      if (check.checkAddress(parsedTx.tokenAddressA))
                        img(src='/img/tokens/' + check.checkAddress(parsedTx.tokenAddressA).toLowerCase() + '.png' width='18px')    
                      a(href='/account/' + parsedTx.tokenAddressA)  #{check.checkAddress(parsedTx.tokenAddressA.toLowerCase())}
                      span.decodedName  To   
                      if (check.checkAddress(parsedTx.tokenAddressB))
                        img(src='/img/tokens/' + check.checkAddress(parsedTx.tokenAddressB).toLowerCase() + '.png' width='18px') 
                      a(href='/account/' + parsedTx.tokenAddressB)  #{check.checkAddress(parsedTx.tokenAddressB.toLowerCase())}
                      span.decodedName  On 
                      a(href='https://www.eggs.cool/farms')  EggSwap Chicken
                    //- Bridge
                    if parsedTx.method == 'depositBridge'
                      span.decodedNames Send 
                      | EXP 
                      span.decodedNames To    
                      img(src='/img/chains/' + parsedTx.destinationChain + '.png' width='18px')
                      |  #{parsedTx.destinationChain} 
                      span.decodedNames On 
                      a(href='https://bridge.expanse.tech/') Bridge

                    if parsedTx.method == 'voteProposal'
                      span.decodedNames Vote Proposal To  
                      img(src='/img/chains/' + parsedTx.destinationChain + '.png' width='18px')
                      |  #{parsedTx.destinationChain} 
                      span.decodedNames On 
                      a(href='https://bridge.expanse.tech/') Bridge

                    if parsedTx.method == 'executeProposal'
                      span.decodedNames Execute Proposal To  
                      img(src='/img/chains/' + parsedTx.destinationChain + '.png' width='18px')
                      |  #{parsedTx.destinationChain} 
                      span.decodedNames On 
                      a(href='https://bridge.expanse.tech/') Bridge

                    if parsedTx.method == 'leave'
                      span.decodedNames Unstake 
                      | #{parsedTx.amount}   
                      a(href='/token/' + tx.to)  #{check.checkAddress(tx.to)}  
                      span.decodedNames To  
                      a(href='/token/0xd1365a5af713cde10c6ac3fb9edbb2bbbd4b2ba2') EGG 
                    if parsedTx.method == 'enter'
                      span.decodedNames Stake 
                      | #{parsedTx.amount} 
                      a(href='/token/0xd1365a5af713cde10c6ac3fb9edbb2bbbd4b2ba2') EGG 
                      span.decodedNames To
                      a(href='/token/' + tx.to)  #{check.checkAddress(tx.to)}
                    
                    //- WEXP 
                    if parsedTx.method == 'wrap'
                      span.decodedNames Wrap 
                      | #{tx.value / 10 ** 18} EXP 
                      span.decodedNames into #{tx.value / 10 ** 18}  
                      img(src='/img/tokens/' + check.checkAddress(tx.to).toLowerCase() + '.png' width='18px')  
                      a(href='/token/' + tx.to)   WEXP

                    if parsedTx.method == 'unwrap'
                      span.decodedNames Unwrap 
                      | #{parsedTx.amount}  
                      img(src='/img/tokens/' + check.checkAddress(tx.to).toLowerCase() + '.png' width='18px')   
                      a(href='/token/' + tx.to)   WEXP  
                      span.decodedNames into 
                      | #{parsedTx.amount} EXP

                    if parsedTx.method == 'transfer'
                      span.decodedTransfer From  
                      a(href='/account/' + tx.from) #{tx.from.substr(0, 14)}... 
                      span.decodedTransfer To 
                      a(href='/account/' + parsedTx.addressDestination) #{parsedTx.addressDestination.substr(0, 14)}...  
                      span.decodedTransfer For 
                      | #{parsedTx.value} 
                      if tokenPrice 
                        span.decodedTransfer ($#{(tokenPrice * parsedTx.value).toFixed(5)})
                      
                      img(src='/img/tokens/' + check.checkAddress(tx.to).toLowerCase() + '.png' width='18px') 
                      | #{check.checkAddress(tx.to)}

                    if parsedTx.method == 'approve'
                      span.decodedNames Approve To Add   
                      if check.checkAddress(tx.to)
                        img(src='/img/tokens/' + check.checkAddress(tx.to).toLowerCase() +'.png' width='15px')  
                      |  #{check.checkAddress(tx.to)} 
                      span.decodedNames Liquidity To 
                      if parsedTx.addressDestination == '0xfaf3ddcb8d17db02e08e45f02afb8d427669d592'
                        a(href= "https://www.eggs.cool/ex/#/swap") EggSwap Excnhage
                      if parsedTx.addressDestination == '0x6680b66406dc1f1bcffdbaca320f9d950e65dba0'
                        a(href= "https://www.eggs.cool") EggSwap Harvest
                      
                    if parsedTx.method == 'withdraw'
                      span.decodedNames Withdraw 
                      | #{parsedTx.amountOut} 
                      span.decodedNames from 
                      | (#{check.checkAddress(tx.to)}) Pool

                    if parsedTx.method == 'harvest'
                      span.decodedNames Harvest some 
                      img(src='/img/tokens/egg token.png' width='18px') 
                      | EGG from (#{check.checkAddress(tx.to)})  Pool
                    if parsedTx.method == 'addLiquidity'
                      span.decodedNames Add 
                      | #{parsedTx.tokenAAmount}   
                      a(href="/token/" + parsedTx.tokenAAddress)
                        img(src='/img/tokens/' + check.checkAddress(parsedTx.tokenAAddress).toLowerCase() +'.png' width='18px')   
                        |  #{check.checkAddress(parsedTx.tokenAAddress.toLowerCase())} 
                      span.decodedNames And 
                      | #{parsedTx.tokenBAmount}  
                      a(href="/token/" + parsedTx.tokenBAddress)
                        img(src='/img/tokens/' + check.checkAddress(parsedTx.tokenBAddress).toLowerCase() +'.png' width='18px')  
                        |  #{check.checkAddress(parsedTx.tokenBAddress.toLowerCase())}  
                      span.decodedNames Liquidity To    
                      a(href= "https://www.eggs.cool/ex/#/swap") EggSwap

                    if parsedTx.method == 'addLiquidityEXP'
                      span.decodedNames Add 
                      | #{parsedTx.expAmount} EXP 
                      span.decodedNames And 
                      | #{parsedTx.tokenAmountMin}   
                      img(src='/img/tokens/' + check.checkAddress(parsedTx.tokenAddress).toLowerCase() +'.png' width='18px')  
                      a(href="/token/" + parsedTx.tokenAddress)   #{check.checkAddress(parsedTx.tokenAddress)}  
                      span.decodedNames Liquidity To  
                      a(href= "https://www.eggs.cool/ex/#/swap") EggSwap
                    
                    if parsedTx.method == 'swapExactTokensForTokensSupportingFeeOnTransferTokens'
                      span.decodedNames Test

                    if parsedTx.method == 'removeLiquidity' || parsedTx.method == 'removeLiquidityEXPWithPermitSupportingFee'
                      span.decodedNames Remove
                      |  #{parsedTx.expAmount} EXP 
                      span.decodedNames And
                      |  #{parsedTx.tokenAmount} 
                      img(src='/img/tokens/' + check.checkAddress(parsedTx.tokenAddress).toLowerCase() +'.png' width='18px')  
                      a(href="/token/" + parsedTx.tokenAddress)   #{check.checkAddress(parsedTx.tokenAddress)}  
                      span.decodedNames Liquidity From  
                      a(href= "https://www.eggs.cool/ex/#/swap") EggSwap
                    
                    if parsedTx.method == 'removeLiquidityEXP'
                      span.decodedNames Remove
                      |  #{parsedTx.expAmount} EXP 
                      span.decodedNames And
                      |  #{parsedTx.tokenAmount} 
                      img(src='/img/tokens/' + check.checkAddress(parsedTx.tokenAddress).toLowerCase() +'.png' width='18px')  
                      a(href="/token/" + parsedTx.tokenAddress)   #{check.checkAddress(parsedTx.tokenAddress)}  
                      span.decodedNames Liquidity From  
                      a(href= "https://www.eggs.cool/ex/#/swap") EggSwap 

                    if parsedTx.method == 'removeLiquidityWithPermit'
                      span.decodedNames Remove 
                      | #{parsedTx.tokenAAmount}   
                      a(href="/token/" + parsedTx.tokenAAddress)
                        img(src='/img/tokens/' + check.checkAddress(parsedTx.tokenAAddress).toLowerCase() +'.png' width='18px')   
                        |  #{check.checkAddress(parsedTx.tokenAAddress.toLowerCase())} 
                      span.decodedNames And 
                      | #{parsedTx.tokenBAmount}  
                      a(href="/token/" + parsedTx.tokenBAddress)
                        img(src='/img/tokens/' + check.checkAddress(parsedTx.tokenBAddress).toLowerCase() +'.png' width='18px')  
                        |  #{check.checkAddress(parsedTx.tokenBAddress.toLowerCase())}  
                      span.decodedNames Liquidity From    
                      a(href= "https://www.eggs.cool/ex/#/swap") EggSwap
                    
                    if parsedTx.method == 'swapEXPForExactTokens'
                      span.decodedNames Swap 
                      | #{tx.value / 10 ** 18} Exp 
                      span.decodedNames For   
                      | #{tx.value / 10 ** 18}    
                      if check.checkAddress(parsedTx.pathToken)
                        img(src='/img/tokens/' + check.checkAddress(parsedTx.pathToken).toLowerCase() +'.png' width='18px') 
                      a(href="/token/" + parsedTx.pathToken)   #{check.checkAddress(parsedTx.pathToken)}
                      p.secondSwap 
                        i.fa.fa-caret-right(style='margin-right:5px')
                        span.decodedNames Swap 
                        | #{tx.value / 10 ** 18}  
                        if check.checkAddress(parsedTx.pathToken)
                          img(src='/img/tokens/' + check.checkAddress(parsedTx.pathToken).toLowerCase() +'.png' width='18px') 
                        a(href="/token/" + parsedTx.pathToken)  #{check.checkAddress(parsedTx.pathToken)}  
                        span.decodedNames For 
                        | #{parsedTx.amountOut}  
                        if check.checkAddress(parsedTx.tokenOut)
                          img(src='/img/tokens/' + check.checkAddress(parsedTx.tokenOut).toLowerCase() +'.png' width='18px') 
                        a(href="/token/" + parsedTx.tokenOut)  #{check.checkAddress(parsedTx.tokenOut)} 
                        span.decodedNames On  
                        a(href= "https://www.eggs.cool/ex/#/swap") EggSwap
                      
                    if parsedTx.method == 'swap'
                      span.decodedNames Swap 
                      | #{parsedTx.amountIn}  
                      if parsedTx.tokenIn != 'EXP'
                        if check.checkAddress(parsedTx.tokenIn).toLowerCase() 
                          img(src='/img/tokens/' + check.checkAddress(parsedTx.tokenIn).toLowerCase() +'.png' width='18px')
                      else 
                        | EXP
                      a(href="/token/" + parsedTx.tokenIn)  #{check.checkAddress(parsedTx.tokenIn)} 
                      span.decodedNames For 
                      |  #{parsedTx.amountOut}    
                      if parsedTx.tokenOut != 'EXP'
                        if check.checkAddress(parsedTx.tokenOut)
                          img(src='/img/tokens/' + check.checkAddress(parsedTx.tokenOut).toLowerCase() +'.png' width='18px') 
                        a(href="/token/" + parsedTx.tokenOut)  #{check.checkAddress(parsedTx.tokenOut)} 
                      else 
                        | EXP  
                      span.decodedNames On  
                      a(href= "https://www.eggs.cool/ex/#/swap") EggSwap

            if !txTokens && !parsedTx
              tr
                td To:
                td
                  if isContract
                    | [Contract 
                    a(href='/account/' + tx.to) #{tx.to} 
                    | Created]
                  else 
                    a(href = '/account/' + tx.to) #{tx.to} 
                    if check.checkAddress(tx.to)
                      | (#{check.checkAddress(tx.to)})
            tr
              td Value:
              td #{ethformatter(tx.value)} ($#{((tx.value/ (10 ** 18)) * price.price_usd).toFixed(4)})
            tr
              td Gas Used by Txn:
              td #{tx.gas}
            tr
              td Gas Price: 
              td #{tx.gas_price/Math.pow(10,18)}
            tr
              td Actual Tx Cost/Fee:
              td #{(tx.gas*tx.gas_price)/Math.pow(10,18)} Exp ($#{Number((tx.gas*tx.gas_price)/Math.pow(10,18)*price.price_usd).toFixed(5)})
            tr
              td Nonce:
              td #{tx.nonce}
        else
          .errorBlock
            img(src='/img/hacking.png')
            p.errorMsg Sorry, We are unable to locate this transaction Hash.


  //- a(href="/tx/raw/" + tx.hash) Raw Trace
  //- h4 Internal Transactions
  //- table.table
  //-   thead
  //-     tr
  //-       th
  //-       th Type
  //-       th From
  //-       th
  //-       th To
  //-       th Amount
    //- tbody
    //-   for trace in tx.traces
    //-     tr
    //-       td.text-right
    //-         if trace.error
    //-           span(style="color: red", data-toggle="tooltip", data-placement="left", title=trace.error).glyphicon.glyphicon-warning-sign
    //-           |  
    //-       td.capitalize #{trace.type}
    //-       if trace.type === "call"
    //-         td
    //-           a(href="/account/" + trace.action.from) #{nameformatter.format(trace.action.from)}
    //-         td 
    //-           image(src="/img/arrow.png" width="25px" height="20px")
    //-         td 
    //-           a(href="/account/" + trace.action.to) #{nameformatter.format(trace.action.to)}
    //-         td #{ethformatter(trace.action.value)}
    //-       else if trace.type === "create"
    //-         td
    //-           a(href="/account/" + trace.action.from) #{nameformatter.format(trace.action.from)}
    //-         td
    //-           if trace.result
    //-             a(href="/account/" + trace.result.address) #{nameformatter.format(trace.result.address)}
    //-           else
    //-             div #{'-'}
    //-         td #{ethformatter(trace.action.value)}
    //-       else if trace.type === "suicide"
    //-         td
    //-           a(href="/account/" + trace.action.address) #{nameformatter.format(trace.action.address)}
    //-         td
    //-           a(href="/account/" + trace.action.refundAddress) #{nameformatter.format(trace.action.refundAddress)}
    //-         td #{ethformatter(trace.action.balance)}
