extends main

block content
  .tab-content
    h3(style="margin-left:5px;font-weight:400") Pending Transactions
  
    if txs.length === 0
      h4(style="color:black;font-weight:bold;text-align: center") There are no pending transactions, but you can change it. 
        i.fa.fa-smile
    else
      table.table.block-info
        thead
          tr
            th Hash
            th From
            th 
            th To
            th Amount
            th Gas Used
        tbody
          for tx in txs
            | #{console.log(tx)}
            tr
              td
                | #{tx.hash.substr(0, 10)}...
              td
                a(href="/account/" + tx.from) #{nameformatter.format(tx.from)}
              td 
                image(src="/img/arrow.png" width="25px" height="20px")
              td
                if tx.to
                  a(href="/account/" + tx.to) #{nameformatter.format(tx.to)}
                else
                  | New Contract
              td #{ethformatter(tx.value)}
              td #{parseInt(tx.gas,16)}